{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'base/bootstrap.css' %}">
    <!-- <link rel='stylesheet' type='text/css' media='screen' href="{% static 'base/footer.css' %}"> -->
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'Home/home.css' %}">
    <script src="{% static 'JS/Home/home.js' %}"></script>    
</head>
<body>
    <header>
        
    </header>
    <div class="slide">
        <div class="mySlide">
            <img class="imgSlide" src="{% static 'images/221643.jpg' %}"/>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <h1>Amos </h1>
            </div>
            <div class="col-2">
                <h1>59</h1>
            </div>
            <div class="col-2">
                <h1>59</h1>
            </div>
            <div class="col-2">
                <h1>Kenya</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Kenya is a good place hospitall are quite interesting in medical world thers alot of cash flowing
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Staff</h3>
                    </div>
                    <div class="card-body">
                        <img class="card-img"  src="{% static ''}"/>
                        <h5>hospital system make medial better</h5>
                    </div>
                    <div class="card-footer">
                        <button>Read more...</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">non staff</h3>
                    </div>
                    <div class="card-body">
                        <img class="card-img"  src="{% static ''}"/>
                        <h5>hospital system make better life</h5>
                    </div>
                    <div class="card-footer">
                        <button>Read more...</button>
                    </div>
           
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">patient</h3>
                    </div>
                    <div class="card-body">
                        <img class="card-img"  src="{% static ''}"/>
                        <h5>hospital system make better life</h5>
                    </div>
                    <div class="card-footer">
                        <button>Read more...</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Partners</h3>
                    </div>
                    <div class="card-body">
                        <img class="card-img"  src="{% static ''}"/>
                        <h5>hospital system make better life</h5>
                    </div>
                    <div class="card-footer">
                        <button>Read more...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec">
        <div class="row">
            <div class="col">
                <div class="card">
                    <h1 class="card-title">Partners</h1>
                    <div class="card-body">
                        <p>
                            This guide assumes you are using a personal computer, VPS or a bare-metal server. You also need to be on a *nix system, so any Linux Distribution and MacOS is supported. However, we officially support only the following distributions.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <button>Donate</button>
    </div>

    <div class="foter">
        <div class="row">
            <div class="col-lg-3">
                <h1>unions</h1> 
            </div>
            <div class="col-lg-3">
                <h1>Scocials</h1> 
            </div>
            <div class="col-lg-3">
                <h1>contact us</h1> 
            </div>
        </div>
        <div class="row">
            <p>&copy; 2024 BidiiHos System. All rights reserved version 0.2</p>
        </div>
    </div>
    <footer>
        
    </footer>  
</body>
</html>