{% extends 'Hos/Forms/form.html' %}
{% block content %}
<h1> medications Forms are Still on development </h1>
<h2> be back Shortly</h2>
    <div class="container">
        <form action="post">
            {% csrf_token %} 
            <div class="card">
                <tr>
                    <td>
                        {{medications_form.as_table}}
                    </td>
                </tr>
            </div>
            <div class="container">
                <div class="card">
                    <tr>
                        <td>
                            <input class="btn btn-primary btn-block mb-4" type="submit" value="submit">
                        </td>
                    </tr>
                </div>
            </div>
        </form>
    </div>
{% endblock%}