{% extends 'Hos/Forms/form.html' %}
<!DOCTYPE html>
    <body>
        {% block content %}
            <h1>medical_records Form are Still on development </h1>
            <h2> be back Shortly</h2>

            <div class="container">
                <form action="post">
                    {% csrf_token %} 
                    <div class="card">
                        <tr>
                            <td>
                                {{medical_records_form.as_table}}
                            </td>
                        </tr>
                    </div>
                    
                    <div class="container">
                        <table>
                            <tr>
                                <td>
                                    <input class="btn btn-primary btn-block mb-4" type="submit" value="submit">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="btn btn-primary btn-block mb-4" type="cancel" value="cancel">
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
                
            </div>
        {% endblock%}
    </body>
</html>