{% extends 'Hos/Forms/form.html' %}
{% load static %}
{% block content %}
<!-- <link rel='stylesheet' type='text/css' media='screen' href="{% static 'base/navbar.css' %}"> -->
<!--         <link rel='stylesheet' type='text/css' media='screen' href="{% static 'base/footer.css' %}">
 -->
<section class="former">
    <div class="form_patient">
        <div class="container">
            <form method="post" action="">
                {% csrf_token %} 
                <div class="card">
                    <table>
                        {{ patients_form.as_table }}
                    </table>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary btn-block" type="submit">Submit</button>
                </div>
            </form>
            {% if patients_form.errors %}
                <div class="alert alert-danger">
                    <strong>Error:</strong> Please correct the following errors:
                    <ul>
                        {% for error in patients_form.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
